.link-modal {
    width: 100%;
    max-width: 400px;

    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .buttons {
            display: flex;
            justify-content: end;
            
            gap: 6px;
            margin: 0;
        }
    }
}