@keyframes circleAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.home-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 10px 10px 10px;

    .home-container {
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .loading-circle-container {
            padding: 20px 0 20px 0;
            display: flex;
            justify-content: center;
            .circle {
                width: 30px;
                height: 30px;
                border: 4px dashed var(--bg5);
                border-radius: 50%;
                animation: circleAnimation 1s linear infinite;
            }

            &.hidden {
                display: none;
            }
        }
    }


    
}