.subscriptions-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.subscriptions-container {
    height: 100%;
    width: 100%;
    max-width: 500px;
}