.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease, visibility 0s linear 0.2s;
    z-index: 1001;

    .modal-card {
        h3 {
            margin: 8px 0 0 0;
            color: var(--text-color);
        }

        p {
            color: var(--text-color5);
            margin: 6px 0 12px 0;
            font-size: 0.9rem;
        }

        .secondary-input {
            width: 100%;
        }

        .buttons {
            margin: 30px 0 0 0;
            display: flex;
            gap: 6px;
            justify-content: end;
        }

        p.error {
        color: var(--error-color);
        padding: 0;
        margin: 10px 0 0 0;
        }

        @media (max-width: 500px) {
            .buttons {
                margin: 20px 0 0 0;
            }
        }
    }
}

.overlay {

  .modal-card {
      background-color: var(--bg2);
      border-radius: var(--card-radius);
      padding: 20px 20px;
      position: relative;
      transform: scale(0.9);
      transition: transform 0.2s ease;

      .close-button {
          position: absolute;
          top: 14px;
          right: 14px;
      }
  }

    &.opened {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s ease, visibility 0s;

            .modal-card {
            transform: scale(1);
            }
    }
}